<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filtrer
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="myForm">
      <mat-form-field>
          <input matInput type="text" placeholder="Brand" formControlName="brand">
      </mat-form-field>
      <mat-form-field>
          <input matInput type="text" placeholder="Gearbox" formControlName="gearbox">
      </mat-form-field>
      <mat-form-field>
          <input matInput type="number" placeholder="Min price" formControlName="minPrice" min="0">
      </mat-form-field>
      <mat-form-field>
          <input matInput type="number" placeholder="Max price" formControlName="maxPrice" max="999999">
      </mat-form-field>
    </form>

    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="clearFilters()">Clear</button>
      <button mat-raised-button color="primary" (click)="applyFilters()">Apply</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<div *ngFor="let vehicle of vehicles | async">
    <mat-grid-list cols="vehicles.length" rowHeight="2:1">
        <mat-grid-tile>
            <img src="{{vehicle.base64}}"  alt="base64 test">
        </mat-grid-tile>
    </mat-grid-list>
</div>

<ul>
  <li class="text" *ngFor="let brand of brands | async">
    {{brand.name}}
  </li>
</ul>
