<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filtrer
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="myForm">
      <mat-form-field>
          <mat-select placeholder="Brand" formControlName="brand">
              <mat-option *ngFor="let brand of brands" [value] = "brand">
                {{brand}}
              </mat-option>
            </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Gearbox" formControlName="gearbox">
          <mat-option *ngFor="let gearbox of gearboxes" [value] = "gearbox">
            {{gearbox}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
          <input matInput type="number" placeholder="Min price" formControlName="minPrice" min="0">
      </mat-form-field>
      <mat-form-field>
          <input matInput type="number" placeholder="Max price" formControlName="maxPrice" max="999999">
      </mat-form-field>
    </form>

    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="clearFilters()">Clear</button>
      <button mat-raised-button color="primary" (click)="applyFilters()">Apply</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>


<div *ngFor="let vehicle of vehicles">
  <app-vehicle-card [vehicleInfo]="vehicle"></app-vehicle-card>
</div>
