<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span [routerLink]="['/']">Thales Shop</span>
    <span class="example-spacer"></span>
    
    <button mat-icon-button>
      <mat-icon routerLink="/vehicles" routerLinkActive="active-link">directions_car</mat-icon>
    </button>
    
    <button mat-icon-button>
      <mat-icon routerLink="/cart" routerLinkActive="active-link">shopping_cart</mat-icon>
      <div *ngIf="numberOfVehiclesInCart > 0" class="cart-annotation">{{numberOfVehiclesInCart}}</div>
    </button>
    
    <button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
    
  </mat-toolbar-row>
</mat-toolbar>
