<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{vehicleInfo.brand}}</mat-card-title>
        <mat-card-subtitle>{{vehicleInfo.model}}</mat-card-subtitle>
    </mat-card-header>
    <a [routerLink]="['/vehicle',vehicleInfo.id]">
        <img mat-card-image src="{{vehicleInfo.base64}}" alt="img base64">
    </a>
    <mat-card-content>
    <p>
        {{vehicleInfo.description}}
    </p>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="isVehicleInCart" mat-raised-button class="shopButton" color="primary" (click)="addToCart(1)">
            <mat-icon>shopping_cart</mat-icon>
        </button>
        <mat-select #cartSelect *ngIf="!isVehicleInCart" [value]="getNbOfItem(vehicleInfo.id)" (selectionChange)="addToCart(cartSelect.value)">
            <mat-option *ngFor="let num of numbers" [value] = "num" >
                {{num}}
            </mat-option>
        </mat-select>
    </mat-card-actions>
  </mat-card>